body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 24px;
  background-color: #feca57;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 5px solid orange;
  height: 400px;
  width: 400px;
  background-color: aquamarine;
}

.element {
  margin: 10px;
  width: 70%;
}

label {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

input {
  width: 100%;
  height: 30px;
}

.element button {
  width: 100%;
  padding: 5px 0px;
  background-color: #ee5253;
  font-size: 24px;
  color: white;
}

.element button:hover {
  background-color: #341f97;
  cursor: pointer;
}
